#web-viewport{
    height: 100vh;
    width: 100%;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/*NAVBAR*/

#list-nav{
    display: flex;
    align-items: center !important;
    margin-top: 12px;
}

.container-fluid form{
    width: 60%;
}

form .input-group .btn{
    border: 1px solid lightgray;
    border-right: none;
}

form .input-group .btn:hover{
    border: 1px solid lightgray;
    border-right: none;
}

#style-nav{
    border-left: none;
}

.d-m-nav{
    background-color: rgba(255, 255, 255, 1);
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}


/*ASIDE*/

aside{
    margin-top: 76px;
    height: calc(100vh - 76px);
    width: 60px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
}

#aside-list{
    padding-left: 0px;
}

#aside-list li{
    padding: 0.5rem;
}

#aside-list li:hover{
    background-color: gray;
}

/*CONTENT*/

#content{
   margin-top: 76px; 
   width: calc(100% - 60px);
   height: calc(100vh - 76px);
   overflow: auto;
}

/*BUNNER*/
.bunner{
    background-color: #1b72e8;
}

.rounded-pill{
    background-color: rgba(0, 0, 0, 0.2);
}

#b-plus{
    border: none;
    color: white;
    font-size: 15px;
    padding: 0;
    line-height: 0px;
    height: 15px;
    padding: 10px 5px;
}

.badge ul{
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    margin-left: 10px;
}

.badge ul li{
    display: inline;
}

#offcanvasRightLabel{
    border: 1px solid white;
}

.i-style{
    color: gray;
    border: 1px solid gray;
    padding: 5px;
}

.table tr th:first-child{
    width: 50%;
}

.accordion-item{
    border: none;
    border-bottom: 1px solid lightgray;
}

#offcanvasRight{
    width: 50%;
}

.rounded-pill:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.d-m-pills{
    background-color: #1b72e8;
}

.dropdown-menu li{
    margin-left: 5px;
}

.dropdown-menu:hover{
    cursor: pointer;
}